@model Anamnese.Models.AnamneseModel

@{
    ViewData["Title"] = "Create";
    var idPaciente = Context.Request.Query["IdPaciente"].ToString();
}

<h1>Create</h1>

<h4>AnamneseModel</h4>
<p>idPaciente: @idPaciente</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="IdPaciente" value="@idPaciente" type="hidden"/>
            <div class="form-group">
                <label asp-for="QueixaPrincipalAnamnese" class="control-label"></label>
                <input asp-for="QueixaPrincipalAnamnese" class="form-control" />
                <span asp-validation-for="QueixaPrincipalAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueixaPrincipalAnamnese" class="control-label"></label>
                <input asp-for="QueixaPrincipalAnamnese" class="form-control" />
                <span asp-validation-for="QueixaPrincipalAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HistoricoDoencaAtualAnamnese" class="control-label"></label>
                <input asp-for="HistoricoDoencaAtualAnamnese" class="form-control" />
                <span asp-validation-for="HistoricoDoencaAtualAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntecedentesPessoaisAnamnese" class="control-label"></label>
                <input asp-for="AntecedentesPessoaisAnamnese" class="form-control" />
                <span asp-validation-for="AntecedentesPessoaisAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AntecedentesFamiliaresAnamnese" class="control-label"></label>
                <input asp-for="AntecedentesFamiliaresAnamnese" class="form-control" />
                <span asp-validation-for="AntecedentesFamiliaresAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExameFisicoAnamnese" class="control-label"></label>
                <input asp-for="ExameFisicoAnamnese" class="form-control" />
                <span asp-validation-for="ExameFisicoAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HipotesesDiagnosticasAnamnese" class="control-label"></label>
                <input asp-for="HipotesesDiagnosticasAnamnese" class="form-control" />
                <span asp-validation-for="HipotesesDiagnosticasAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanoTratamentoAnamnese" class="control-label"></label>
                <input asp-for="PlanoTratamentoAnamnese" class="form-control" />
                <span asp-validation-for="PlanoTratamentoAnamnese" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="AnamneseModels" asp-route-idPaciente="@idPaciente">Voltar para a lista de Anamneses</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
