@model Anamnese.Models.AnamneseModel

@{
    ViewData["Title"] = "Edit";
    var idPaciente = Context.Request.Query["IdPaciente"].ToString();
}

<h1>Editar Anamnese</h1>
<hr />
<div class="containaer">
    <div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAnamnese" readonly />
            <input type="hidden" asp-for="IdPaciente" value="@idPaciente" readonly />
            <input asp-for="DataCadastroAnamnese" class="form-control" type="hidden" readonly />
            <div class="form-group">
                <label asp-for="QueixaPrincipalAnamnese" class="control-label"></label>
                <textarea asp-for="QueixaPrincipalAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="QueixaPrincipalAnamnese" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="HistoricoDoencaAtualAnamnese" class="control-label"></label>
                <textarea asp-for="HistoricoDoencaAtualAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="HistoricoDoencaAtualAnamnese" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AntecedentesPessoaisAnamnese" class="control-label"></label>
                <textarea asp-for="AntecedentesPessoaisAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="AntecedentesPessoaisAnamnese" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="AntecedentesFamiliaresAnamnese" class="control-label"></label>
                <textarea asp-for="AntecedentesFamiliaresAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="AntecedentesFamiliaresAnamnese" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ExameFisicoAnamnese" class="control-label"></label>
                <textarea asp-for="ExameFisicoAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ExameFisicoAnamnese" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="HipotesesDiagnosticasAnamnese" class="control-label"></label>
                <textarea asp-for="HipotesesDiagnosticasAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="HipotesesDiagnosticasAnamnese" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PlanoTratamentoAnamnese" class="control-label"></label>
                <textarea asp-for="PlanoTratamentoAnamnese" class="form-control" rows="5"></textarea>
                <span asp-validation-for="PlanoTratamentoAnamnese" class="text-danger"></span>
            </div>
            <hr />
            <br />
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <input type="submit" value="Editar" class="btn btn-primary btn-lg me-2" />
                        <a asp-action="Index" class="btn btn-secondary btn-lg" asp-controller="AnamneseModels" asp-route-idPaciente="@idPaciente">Voltar</a>
                    </div>
                </div>
            </div>
            <br />
            <br />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}