@model Anamnese.Models.PacienteModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PacienteModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPaciente" />
            <div class="form-group">
                <label asp-for="NomePaciente" class="control-label"></label>
                <input asp-for="NomePaciente" class="form-control" />
                <span asp-validation-for="NomePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SobrenomePaciente" class="control-label"></label>
                <input asp-for="SobrenomePaciente" class="form-control" />
                <span asp-validation-for="SobrenomePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimentoPaciente" class="control-label"></label>
                <input asp-for="DataNascimentoPaciente" class="form-control" />
                <span asp-validation-for="DataNascimentoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroPaciente" class="control-label"></label>
                <input asp-for="GeneroPaciente" class="form-control" />
                <span asp-validation-for="GeneroPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpfPaciente" class="control-label"></label>
                <input asp-for="CpfPaciente" class="form-control" />
                <span asp-validation-for="CpfPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RgPaciente" class="control-label"></label>
                <input asp-for="RgPaciente" class="form-control" />
                <span asp-validation-for="RgPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertidaoPaciente" class="control-label"></label>
                <input asp-for="CertidaoPaciente" class="form-control" />
                <span asp-validation-for="CertidaoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefonePaciente" class="control-label"></label>
                <input asp-for="TelefonePaciente" class="form-control" />
                <span asp-validation-for="TelefonePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CelularPaciente" class="control-label"></label>
                <input asp-for="CelularPaciente" class="form-control" />
                <span asp-validation-for="CelularPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoCivilPaciente" class="control-label"></label>
                <input asp-for="EstadoCivilPaciente" class="form-control" />
                <span asp-validation-for="EstadoCivilPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CepPaciente" class="control-label"></label>
                <input asp-for="CepPaciente" class="form-control" />
                <span asp-validation-for="CepPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LogradouroPaciente" class="control-label"></label>
                <input asp-for="LogradouroPaciente" class="form-control" />
                <span asp-validation-for="LogradouroPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroEnderecoPaciente" class="control-label"></label>
                <input asp-for="NumeroEnderecoPaciente" class="form-control" />
                <span asp-validation-for="NumeroEnderecoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BairroPaciente" class="control-label"></label>
                <input asp-for="BairroPaciente" class="form-control" />
                <span asp-validation-for="BairroPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadePaciente" class="control-label"></label>
                <input asp-for="CidadePaciente" class="form-control" />
                <span asp-validation-for="CidadePaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoPaciente" class="control-label"></label>
                <input asp-for="EstadoPaciente" class="form-control" />
                <span asp-validation-for="EstadoPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastroPaciente" class="control-label"></label>
                <input asp-for="DataCadastroPaciente" class="form-control" />
                <span asp-validation-for="DataCadastroPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
